{% load tailwindcss %}
{% load tailwind_filters %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        {% tailwindcss %}
        <link rel="stylesheet" href="{% static 'blog/css/main.css' %}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
            <title> Django Blog - {{ title }}</title>
        {% else %}
            <title> Django Blog </title>
        {% endif %}
    </head>
    <body>

    <!-- header section start -->
    <header class="bg-purple-300">
        <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
          <div class="flex h-16 items-center justify-between">
            <div class="flex-1 md:flex md:items-center md:gap-12">
              <a class="block text-teal-600" href="{% url 'blog-home' %}">
                <span class="text-white text-lg hover:text-teal-600">Django Blog</span>
              </a>
            </div>
      
            <div class="md:flex md:items-center md:gap-12">
              <nav aria-label="Global" class="hidden md:block">
                <ul class="flex items-center gap-6 text-sm">
                  <li>
                    <a
                      class="text-gray-500 transition hover:text-white"
                      href="{% url 'blog-home' %}"
                    >
                      Home
                    </a>
                  </li>
      
                  <li>
                    <a
                      class="text-gray-500 transition hover:text-white"
                      href="{% url 'blog-about' %}"
                    >
                      About
                    </a>
                  </li>
      
                  <li>
                    <a
                      class="text-gray-500 transition hover:text-white"
                      href="{% url 'post-create' %}"
                    >
                      Create Post
                    </a>
                  </li>
                  
                  <li>
                    <a
                      class="text-gray-500 transition hover:text-white"
                      href="{% url 'user-profile' %}"
                    >
                      Profile
                    </a>
                  </li>
      
                  <li>
                    <a
                      class="text-gray-500 transition hover:text-white"
                      href="/admin/"
                    >
                      Admin Panel
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="flex items-center gap-4">
                {% if user.is_authenticated %}
                <div class="sm:flex sm:gap-4">
                  <a
                    class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow"
                    href="{% url 'user-profile' %}"
                  >
                    Profile
                  </a>
                 </div>
                 <div class="hidden sm:flex">
                  <a
                    class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600"
                    href="{% url 'user-logout' %}"
                  >
                    Logout
                  </a>
                </div>
              {% else %}
                <div class="sm:flex sm:gap-4">
                  <a
                    class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow"
                    href="{% url 'user-login' %}"
                  >
                    Login
                  </a>
                </div>
                  <div class="hidden sm:flex">
                    <a
                      class="rounded-md bg-gray-100 px-5 py-2.5 text-sm font-medium text-teal-600"
                      href="{% url 'user-register' %}"
                    >
                      Register
                    </a>
                  </div>
              {% endif %}
                </div>
      
                <div class="block md:hidden">
                  <button
                    class="rounded bg-gray-100 p-2 text-gray-600 transition hover:text-gray-600/75"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-5 w-5"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="2"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M4 6h16M4 12h16M4 18h16"
                      />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- header section end -->
          <!-- side-menu start -->
          <div class="flex relative">
          <div class="flex w-1/4">
          <div class="flex w-full h-screen flex-col justify-between border-e bg-white sticky top-0">
            <div class="px-4 py-6">
              <div class="flex justify-center items-center">
                <img src="{% static 'blog/img/django.png'%}" class="grid rounded-full h-44 w-44">
              </div>
              <ul class="mt-6 space-y-1">

              {% if user.is_authenticated %}
                <li>
                  <p class="block rounded-lg bg-teal-600 px-4 py-2 text-sm font-medium text-white">
                    Welcome <span class="font-semibold">{{ user }}</span>
                  </p>
                </li>
              {% else %}
                <li>
                  <a
                    href="{% url 'user-register' %}"
                    class="block rounded-lg bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700"
                  >
                    Wait!... It's free registration
                  </a>
                </li>
              {% endif %}
        
                <li>
                  <details class="group [&_summary::-webkit-details-marker]:hidden">
                    <summary
                      class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                    >
                      <span class="text-sm font-medium"> Teams </span>
          
                      <span
                        class="shrink-0 transition duration-300 group-open:-rotate-180"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-5 w-5"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </span>
                    </summary>
          
                    <ul class="mt-2 space-y-1 px-4">
                      <li>
                        <a
                          href=""
                          class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                        >
                          Banned Users
                        </a>
                      </li>
          
                      <li>
                        <a
                          href=""
                          class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                        >
                          Calendar
                        </a>
                      </li>
                    </ul>
                  </details>
                </li>
          
                <li>
                  <a
                    href=""
                    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                  >
                    Billing
                  </a>
                </li>
          
                <li>
                  <a
                    href=""
                    class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                  >
                    Invoices
                  </a>
                </li>
          
                <li>
                  <details class="group [&_summary::-webkit-details-marker]:hidden">
                    <summary
                      class="flex cursor-pointer items-center justify-between rounded-lg px-4 py-2 text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                    >
                      <span class="text-sm font-medium"> Account </span>
          
                      <span
                        class="shrink-0 transition duration-300 group-open:-rotate-180"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-5 w-5"
                          viewBox="0 0 20 20"
                          fill="currentColor"
                        >
                          <path
                            fill-rule="evenodd"
                            d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                          />
                        </svg>
                      </span>
                    </summary>
          
                    <ul class="mt-2 space-y-1 px-4">
                      <li>
                        <a
                          href=""
                          class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                        >
                          Details
                        </a>
                      </li>
          
                      <li>
                        <a
                          href=""
                          class="block rounded-lg px-4 py-2 text-sm font-medium text-gray-500 hover:bg-gray-100 hover:text-gray-700"
                        >
                          Security
                        </a>
                      </li>
          
                      <li>
                        <form action="/logout">
                          <button
                            type="submit"
                            class="w-full rounded-lg px-4 py-2 text-sm font-medium text-gray-500 [text-align:_inherit] hover:bg-gray-100 hover:text-gray-700"
                          >
                            Logout
                          </button>
                        </form>
                      </li>
                    </ul>
                  </details>
                </li>
              </ul>
            </div>
          
            <div class="inset-x-0 bottom-0 border border-gray-100 flex flex-row justify-center items-center">
              <div class="w-1/3">
                <a href="https://github.com/shiccorama" class="flex items-center bg-white p-4 hover:bg-gray-50" target="_blank">
                  <img
                    alt="Man"
                    src="{% static 'blog/img/avatar.png'%}"
                    class="h-10 w-10 rounded-full object-cover"
                  />
                </a>
              </div>
              <div class="w-2/3">
                <a
                  href="https://shiccorama.github.io/myPortfolio/" target="_blank"
                  class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600"
                >
                  Dev@Shiccorama
                </a>
                <a
                  href="https://linkedin.com/in/sherif-fawzy-07111980" target="_blank"
                  class="whitespace-nowrap rounded-full bg-purple-100 px-2.5 py-0.5 text-xs text-purple-600"
                >
                  shiccorama@gmail.com
                </a>
              </div>
            </div>
          </div>
        </div>
    <!-- side-menu end -->
    <!-- main section of other pages starts here -->
        <main role="main" class="w-3/4">
          <div>
            <div>
              {% if messages %}
                {% for msg in messages %}
                    <div class="flex bg-green-100 rounded-lg p-4 mb-4 text-sm text-green-700" role="alert">
                        <svg class="w-5 h-5 inline mr-3" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd"></path></svg>
                        <div>
                            <span class="font-medium">{{ msg }}</span>
                        </div>
                    </div>
                {% endfor %}
              {% endif %}
              {% block content %}{% endblock %} <!-- Here is our block! -->
            </div>
        </main>
    </div>
    <!-- main section of other pages ends here -->
      </body>
      
</html>