{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <section class="flex h-96 items-center justify-between mx-10">
        <div class="w-full h-full">
          <!-- Left column container with background-->
          <div
            class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
            <!-- Right column container -->
            <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
              <form method="POST">
                <!--Sign in section-->
                {% csrf_token %}
                <h1
                class="mt-2 text-2xl pb-4 font-bold text-gray-900 dark:text-white sm:text-3xl md:text-4xl"
              >
                Create New Post
              </h1>
              <br/>
              {% comment %} already-made crispy form {% endcomment %}
                {{ form|crispy }}
                    <br/>
                  <button
                    type="submit"
                    class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow"
                    data-te-ripple-init
                    data-te-ripple-color="light">
                    Create Post
                  </button>
                <!-- Register link -->
                  <br/>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>

{% endblock content %}