
{% extends "blog/base.html" %}
{% block content %}
<br/>
        <div
        class="mb-4 rounded-lg bg-success-100 px-6 py-5 text-base text-success-700"
        role="alert">
        <h2> You have been logged out </h2>
    </div>
        <br/>
    <div class="sm:flex sm:gap-4">
            <a
            class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow"
            href="{% url "user-login" %}"
            >
            Do you want to login again?
            </a>
    </div>

{% endblock content %}