{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <section class="h-screen mx-10">
        <div class="h-full">
          <!-- Left column container with background-->
          <div
            class="g-6 flex h-full flex-wrap items-center justify-center lg:justify-between">
            <!-- Right column container -->
            <div class="mb-12 md:mb-0 md:w-8/12 lg:w-5/12 xl:w-5/12">
              <form method="POST">
                <!--Sign in section-->
                {% csrf_token %}
                <h1
                class="mt-2 text-2xl pb-4 font-bold text-teal-600 dark:text-white sm:text-3xl md:text-4xl"
              >
                Password Reset Page
              </h1>
              <br/>
              {% comment %} already-made crispy form {% endcomment %}
                {{ form|crispy }}

                <div class="mb-6 flex items-center justify-between">
                  <!-- Remember me checkbox -->
                  <div class="mb-[0.125rem] block min-h-[1.5rem] pl-[1.5rem] w-full">
                <!-- Login button -->
                <br/>
                <div class="text-center lg:text-left p-8">
                  <button
                    type="submit"
                    class="rounded-md bg-teal-600 px-5 py-2.5 text-sm font-medium text-white shadow"
                    data-te-ripple-init
                    data-te-ripple-color="light">
                    Request Password Reset
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
{% endblock content %}