{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<section class="w-40 flex justify-center my-10">
    <div class="h-16"></div>
    <br/>
    <br/>
     <div role="alert" class="rounded-xl border border-gray-100 bg-white p-4">
       <div class="flex items-start gap-4">
         <div class="flex-1">
           <strong class="block font-medium text-teal-600"> Reset Complete </strong>
           <p class="mt-2 text-sm text-gray-700">
             Your password has been reset successfully!
           </p>
           <p class="mt-1 text-sm text-gray-700">
             You can login now with your new password.
           </p>
         </div>
       </div>
     </div> 
</section>

{% endblock content %}